<section class="news">
	<div class="section-header">
		<div class="section-header__bg">
			<p class="section-header__bg-second">новости</p>
		</div>
		<div class="container section-header__content">
			<div class="section-header__brick">
				<p class="section-header__title">Новости</p>
			</div>
			<div class="section-header__watch-all">
				<a class="section-header__link" href="#">
					Смотреть все
					<span class="section-header__arrow">
						<span class="section-header__arrow-shaft"></span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="news__carousel owl-carousel" data-carousel="news">
			<div class="news__carousel-item">
				<span class="news__carousel-date">
					17 февраля
				</span>
				<p class="news__carousel-title">
					Название продукта
				</p>
				<p class="news__carousel-info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnisSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium voluptatem accusantium doloremque laudantiu
				</p>
				<a href="" class="news__carousel-link">
					http://joxi.ru/DmBZPdLTwVNJ6m
				</a>
				<div class="news__carousel-button-container">
					<button class="news__carousel-button">Читать</button>
				</div>
			</div>
			<div class="news__carousel-item">
				<span class="news__carousel-date">
					17 февраля
				</span>
				<p class="news__carousel-title">
					Название продукта
				</p>
				<p class="news__carousel-info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnisSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium voluptatem accusantium doloremque laudantiu
				</p>
				<a href="" class="news__carousel-link">
					http://joxi.ru/DmBZPdLTwVNJ6m
				</a>
				<div class="news__carousel-button-container">
					<button class="news__carousel-button">Читать</button>
				</div>
			</div>
			<div class="news__carousel-item">
				<span class="news__carousel-date">
					17 февраля
				</span>
				<p class="news__carousel-title">
					Название продукта
				</p>
				<p class="news__carousel-info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnisSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium voluptatem accusantium doloremque laudantiu
				</p>
				<a href="" class="news__carousel-link">
					http://joxi.ru/DmBZPdLTwVNJ6m
				</a>
				<div class="news__carousel-button-container">
					<button class="news__carousel-button">Читать</button>
				</div>
			</div>
			<div class="news__carousel-item">
				<span class="news__carousel-date">
					17 февраля
				</span>
				<p class="news__carousel-title">
					Название продукта
				</p>
				<p class="news__carousel-info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnisSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium voluptatem accusantium doloremque laudantiu
				</p>
				<a href="" class="news__carousel-link">
					http://joxi.ru/DmBZPdLTwVNJ6m
				</a>
				<div class="news__carousel-button-container">
					<button class="news__carousel-button">Читать</button>
				</div>
			</div>
			<div class="news__carousel-item">
				<span class="news__carousel-date">
					17 февраля
				</span>
				<p class="news__carousel-title">
					Название продукта
				</p>
				<p class="news__carousel-info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Sed ut perspiciatis unde omnisSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium voluptatem accusantium doloremque laudantiu
				</p>
				<a href="" class="news__carousel-link">
					http://joxi.ru/DmBZPdLTwVNJ6m
				</a>
				<div class="news__carousel-button-container">
					<button class="news__carousel-button">Читать</button>
				</div>
			</div>
		</div>
	</div>
</section>