body {
  background: #E5E5E5;
  font-family: Montserrat-regular;
  overflow-x: hidden;
}

.pull-right {
  float: right;
}

.section-separator {
  width: 150px;
  height: 5px;
  background: $main-color3;
  margin: 0 auto;
}

.mb-100 {
  margin-bottom: 100px;
}



