<section class="executors">
	<div class="section-header">
		<div class="section-header__bg">
			<p class="section-header__bg-first">Топ</p>
			<p class="section-header__bg-second">исполнителей</p>
		</div>
		<div class="container section-header__content">
			<div class="section-header__brick">
				<p class="section-header__title">Топ исполнителей</p>
			</div>
			<div class="section-header__watch-all">
				<a class="section-header__link" href="#">
					Смотреть все
					<span class="section-header__arrow">
						<span class="section-header__arrow-shaft"></span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="executors__list">
			<div class="executors__plate">
				<div class="executors__avatar">
					<img  class="executors__avatar-img" src="/images/executors-avatars/executors-avatar-01.jpg" alt="">
				</div>
				<p class="executors__name">
					Петро Порошенко
				</p>
				<div class="executors__location">
					<svg class="executors__location-icon" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.74971 0C3.02788 0 0 2.80246 0 6.2468C0 9.56228 6.12412 17.3084 6.38489 17.6364L6.62825 17.9429C6.65671 17.9789 6.70203 18 6.74971 18C6.79812 18 6.84315 17.9789 6.8719 17.9429L7.11512 17.6364C7.37602 17.3084 13.5 9.56228 13.5 6.2468C13.5 2.80246 10.4716 0 6.74971 0ZM6.74971 4.00921C8.08325 4.00921 9.16763 5.01276 9.16763 6.2468C9.16763 7.48021 8.0832 8.4844 6.74971 8.4844C5.41695 8.4844 4.33178 7.48021 4.33178 6.2468C4.33178 5.01276 5.4169 4.00921 6.74971 4.00921Z" fill="#E36016"/>
					</svg>
					<span class="executors__location-text">Харьков, Украина</span>
				</div>
				<p class="executors__tag">
					Керівництво
				</p>
				<p class="executors__info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
				</p>
				<p class="executors__price">
					5 000$
				</p>
				<button class="executors__button">
					Смотреть
				</button>
			</div>
			<div class="executors__plate">
				<div class="executors__avatar">
					<img  class="executors__avatar-img" src="/images/executors-avatars/executors-avatar-01.jpg" alt="">
				</div>
				<p class="executors__name">
					Петро Порошенко
				</p>
				<div class="executors__location">
					<svg class="executors__location-icon" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.74971 0C3.02788 0 0 2.80246 0 6.2468C0 9.56228 6.12412 17.3084 6.38489 17.6364L6.62825 17.9429C6.65671 17.9789 6.70203 18 6.74971 18C6.79812 18 6.84315 17.9789 6.8719 17.9429L7.11512 17.6364C7.37602 17.3084 13.5 9.56228 13.5 6.2468C13.5 2.80246 10.4716 0 6.74971 0ZM6.74971 4.00921C8.08325 4.00921 9.16763 5.01276 9.16763 6.2468C9.16763 7.48021 8.0832 8.4844 6.74971 8.4844C5.41695 8.4844 4.33178 7.48021 4.33178 6.2468C4.33178 5.01276 5.4169 4.00921 6.74971 4.00921Z" fill="#E36016"/>
					</svg>
					<span class="executors__location-text">Харьков, Украина</span>
				</div>
				<p class="executors__tag">
					Керівництво
				</p>
				<p class="executors__info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
				</p>
				<p class="executors__price">
					5 000$
				</p>
				<button class="executors__button">
					Смотреть
				</button>
			</div>
			<div class="executors__plate">
				<div class="executors__avatar">
					<img  class="executors__avatar-img" src="/images/executors-avatars/executors-avatar-01.jpg" alt="">
				</div>
				<p class="executors__name">
					Петро Порошенко
				</p>
				<div class="executors__location">
					<svg class="executors__location-icon" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.74971 0C3.02788 0 0 2.80246 0 6.2468C0 9.56228 6.12412 17.3084 6.38489 17.6364L6.62825 17.9429C6.65671 17.9789 6.70203 18 6.74971 18C6.79812 18 6.84315 17.9789 6.8719 17.9429L7.11512 17.6364C7.37602 17.3084 13.5 9.56228 13.5 6.2468C13.5 2.80246 10.4716 0 6.74971 0ZM6.74971 4.00921C8.08325 4.00921 9.16763 5.01276 9.16763 6.2468C9.16763 7.48021 8.0832 8.4844 6.74971 8.4844C5.41695 8.4844 4.33178 7.48021 4.33178 6.2468C4.33178 5.01276 5.4169 4.00921 6.74971 4.00921Z" fill="#E36016"/>
					</svg>
					<span class="executors__location-text">Харьков, Украина</span>
				</div>
				<p class="executors__tag">
					Керівництво
				</p>
				<p class="executors__info">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
				</p>
				<p class="executors__price">
					5 000$
				</p>
				<button class="executors__button">
					Смотреть
				</button>
			</div>
		</div>
	</div>
</section>