<section class="banners">
	<div class="banners__carousel-wrapper">
		<div class="owl-carousel banners__carousel" data-carousel="banners">
			<div class="banners__slide">
				<img src="/images/banners-slide-01.jpg" alt="" class="banners__slide-base">
				<div class="banners__slide-content">
					<h2 class="banners__caption">
						Lorem ip sum dolor
					</h2>
					<h3 class="banners__sub-caption">
						consectetur adipiscing elitt
					</h3>
					<button class="banners__button">
						Get Started
					</button>
				</div>
			</div>
			<div class="banners__slide">
				<img src="/images/banners-slide-01.jpg" alt="" class="banners__slide-base">
				<div class="banners__slide-content">
					<h2 class="banners__caption">
						Loremip sumdolor
					</h2>
					<h3 class="banners__sub-caption">
						consectetur adipiscing elitt
					</h3>
					<button class="banners__button">
						Get Started
					</button>
				</div>
			</div>
			<div class="banners__slide">
				<img src="/images/banners-slide-01.jpg" alt="" class="banners__slide-base">
				<div class="banners__slide-content">
					<h2 class="banners__caption">
						Lorem kavozachto
					</h2>
					<h3 class="banners__sub-caption">
						consectetur adipiscing elitt
					</h3>
					<button class="banners__button">
						Get Started
					</button>
				</div>
			</div>
		</div>
		<div class="banners__carousel-dots"></div>
	</div>
</section>